{% extends 'base.html' %}

{% block title %}
    Wiadomości
{% endblock %}

{% block content %}
    <div class="container p-5 my-5 bg-dark text-white">
        <h3>Zajmuję się szeroko rozumianymi usługami elektrycznymi:</h3>

        <br>
        <br>

        <p class="">Kompleksowe instalacje elektryczne oraz teleinformatyczne – projekt i wykonanie<br/>
            Naprawa, modernizacja bądź rozbudowa już istniejących instalacji oraz urządzeń i sprzętu<br/>
            Serwis domowych oraz przemysłowych instalacji elektrycznych i teleinformatycznych, wykonanie pomiarów<br/>
            Okablowanie, dostarczenie prądu elektrycznego<br/>
            Montaż oświetlenia wewnętrznego i zewnętrznego, także sterowanego ruchem<br/>
            Nowoczesne oświetlenie LED<br/>
            Pomiary elektryczne<br/>
            Ochrona przeciwprzepięciowa, systemy przeciwpożarowe i oddymianie<br/>
            Systemy telewizji przemysłowej CCTV<br/>
            Elektryczna automatyka bramowa<br/>
            Systemy alarmowe, usługa montażu i kontrola dostępu<br/>
            Montaż nowych domofonów i wideodomofonów<br/>
            Inteligentne domy<br/>
            Sieci IT</p>
    </div>


{% endblock %}