{% extends 'base.html' %}
{% block content %}

    <h5 class="col p-3 bg-primary text-white">{{ object.type.description }}<br/>
        <br/>{{ object.type.wall_type }}<br/><br/>{{ object.room.service.name }}<br/>{{ object.room.service.square_meters }}<br/>
        <br/>{{ object.room.name }}<br/>
        </h5>
    <a href="{{ spot.get_update_url }}" class="btn btn-info btn-sm">Edytuj</a>
    <a href="{{ spot.get_delete_url }}" class="btn btn-danger btn-sm">Usuń</a>
    {% include 'view_list.html' with object_list=spots %}
    <a href="{% url 'service_list_view' %}" class="btn btn-success">Lista Usług</a>
{% endblock %}